<%- include('partials/header') %>
<main class="container">
  <div class="row">
    <form class="col s12 search-form" action="/search">
      <div class="row">
        <div class="input-field col s6 offset-s3">
          <input id="text-field" type="text" name="search" placeholder="e.g. Harry Potter, The Shining, Tolkien...">
          <label for="text-field">Search</label>
        </div>
      </div>
    </form>
  </div>
  <section>
    <form action="/books/"></form>
  </section>
</main>
<%- include('partials/footer') %>